ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: circle !important;
    margin: 20px;
    border: 2px solid #0d60ae;
    border-radius: 5px;
    background-color: #0d60ae;
}   
.errorItem {
    justify-content: flex-start;
    text-decoration: initial;
    padding: 5px;
    padding-left: 40px;
    font-size: 0.8em;
    color: rgb(255, 50, 50);
}

.messageLabel {
    width: 100%;
}
.messageLabel:hover {
    scale: 1;
}
.title {
    display: flex;
    flex-wrap: wrap;
}
.navbarItem{
}